<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chenzhipeng.mhbzdz">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:name="com.chenzhipeng.mhbzdz.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppNoActionBar_1">
        <activity
            android:name="com.chenzhipeng.mhbzdz.activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.chenzhipeng.mhbzdz.activity.joke.JokePictureActivity" />
        <activity android:name="com.chenzhipeng.mhbzdz.activity.wallpaper.WallpaperPictureActivity" />
        <activity android:name="com.chenzhipeng.mhbzdz.activity.wallpaper.WallpaperClassifyActivity" />
        <activity android:name="com.chenzhipeng.mhbzdz.activity.wallpaper.WallpaperSearchDataActivity" />
        <activity android:name="com.chenzhipeng.mhbzdz.activity.comic.ComicDetailsActivity" />
        <activity android:name="com.chenzhipeng.mhbzdz.activity.comic.ComicReadPictureActivity" />
        <activity android:name="com.chenzhipeng.mhbzdz.activity.comic.ComicTypeActivity" />
        <activity android:name="com.chenzhipeng.mhbzdz.activity.comic.ComicRecommendTagActivity" />
        <activity android:name="com.chenzhipeng.mhbzdz.activity.comic.ComicMyBookActivity" />
        <activity
            android:name="com.chenzhipeng.mhbzdz.activity.comic.ComicSearchViewActivity"
            android:theme="@style/TM" />
        <activity
            android:name="com.chenzhipeng.mhbzdz.activity.wallpaper.WallpaperSearchViewActivity"
            android:theme="@style/TM" />
        <activity android:name="com.chenzhipeng.mhbzdz.activity.wallpaper.WallpaperDownloadActivity" />
        <activity android:name="com.chenzhipeng.mhbzdz.activity.comic.ComicDownloadChoiceActivity" />
        <activity android:name="com.chenzhipeng.mhbzdz.activity.comic.ComicDownloadDataActivity" />
        <activity android:name="com.chenzhipeng.mhbzdz.activity.SettingActivity" />
    </application>

</manifest>